{% extends 'base.html' %}
{% load myfun %}
{% block Title %}
<title>继承base</title>
{% endblock %}
{% block main %}

{% endblock %}
{% block aside %}
<aside class="col-md-4">
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最新文章</h3>
        <ul>

            {% get_latest_articles as latest_articles %}
            {% for article in latest_articles%}
            <li>
                <a href="{% url 'blogapp:detail' article.id %}">{{article.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        <ul>
            {% get_categories as categories %}
            {% for category in categories%}
            <li>
                <a href="/?type=category&category_id={{category.id}}">{{category.name}}<span class="post-count">({{category.article_set.count}})</span></a>
            </li>
            {% endfor %}

        </ul>
    </div>

    <div class="widget widget-archives">
        <h3 class="widget-title">归档</h3>
        <ul>
            {% get_latest_dates as latest_dates %}
            {% for date in latest_dates %}
            <li>
                <a href="/?type=date&year={{date.year}}&month={{date.month}}">{{date.year}} 年 {{date.month}} 月</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="widget widget-tag-cloud">
        <h3 class="widget-title">标签云</h3>
        <ul>
            {% get_tags as tags %}
            {% for tag in tags %}
            <li>
                <a href="/?type=tag&tag_id={{tag.id}}">{{tag.name}}</a>
            </li>
            {% endfor %}

        </ul>
    </div>
    <div class="rss">
        <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
    </div>
</aside>
{% endblock %}