<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加英雄</title>
</head>
<body>
    <div class="container">
        {# 发起post请求#}
        <form action="#" method="post">

            <p>人物<input type="text" name="heroname" placeholder="输入角色"></p>
            <p>性别<input type="radio" name="sex" value="female" checked>女<input type="radio" name="sex"  value="male" checked>男</p>
            <p>描述<input type="text" name="content" placeholder="输入角色描述"></p>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>