<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>票数详情</title>
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
<div class="container">
    <h1>当前票数</h1>
    {{problem}}
    {% for option in problem.problems.all %}
    <br>

    {{option.option1}}--{{problem.option1_votes}}
    <br>
    {{option.option2}}--{{problem.option2_votes}}
    <br>
    {% if problem.option3_votes %}
    {{option.option3}}--{{problem.option3_votes}}
    {% endif %}
    <br>
    {% if problem.option4_votes %}
    {{option.option4}}--{{problem.option4_votes}}
    {% endif %}

    {% endfor %}
    <br>
    <button><a href="{%url 'polls:index' %}">返回首页</a></button>
</div>
</body>
</html>