{% extends 'vote/base.html' %}
{% block Title %}
    <title>投票详情</title>

{% endblock %}
{% block body %}
     <h1>投票问题：{{problem}}</h1>
    <h2>选项:</h2>
    <form action="#" method="post">
        {# 阻止跨站请求 #}
        {% csrf_token %}
        {% for option in problem.problems.all %}
        {% if forloop.counter == 1 %}
        <input type="radio" name="option" value="{{option.id}}" checked>{{option}}
        {% else %}
        <input type="radio" name="option" value="{{option.id}}">{{option}}
        {% endif %}
        {% endfor %}
        <input type="submit" value="投票">
        <button><a href="{% url 'vote:index' %}">返回</a></button>

    </form>

{% endblock %}

